name: Lint PR and Commits

on:
  pull_request:
    types: [opened, edited, synchronize, reopened]

jobs:
  lint-pr:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Lint PR Title, Body, and Commits
        run: python dev_tools/lint_pr.py
